<!--  This file is app/views/movies/index.html.erb -->
<h2>All Movies</h2>

<%#  Part 1: Start here... %>
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="../stylesheets" href="application.css">
</head>

<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th><%= link_to "Movie Title", movies_path(:sort_param => "title"), :class => "title_header" %></th>
      <th><%= link_to "Rating"%></th>
      <th><%= link_to "Release Date", movies_path(:sort_param => "release_date"), :class => "release_date_header" %></th>
      <th><%= link_to "More Info"%></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.title %>
        </td>
        <td>
          <%= movie.rating %>
        </td>
        <td>
          <%= movie.release_date %>
        </td>
        <td>
          <%= link_to "More about #{movie.title}", movie_path(movie) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new movie', new_movie_path, :class => 'btn btn-primary' %>
